$font-stack: 'Open Sans', Tahoma, Geneva, MS Gothic, PingFang SC, Heiti SC, sans-serif;
$clone: #646464;
$jango: #333538;
$snoke: #1E2023;
$vader: #141518;
$rey: #CFCFCF;
$obi: #124daf;
$kylo: #B82115;
$light: #FFFFFF;
$dark: #000000;
$yellowBreadcrumb: #FFFDDE;
$breadcrumbBottomBorder: #ECECEC;
$yellowButton: #E7D300;
$greyText: #E2E2E2;
$greyBackground: #F7F7F7;

$headerHeight: 50px;
$sidebarWidth: 180px;
