<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" packages="com.logentries.log4j2">
    <Appenders>
        <Logentries >
            <PatternLayout pattern="%d{EEE MMM dd HH:mm:ss ZZZ yyyy}, %-5p: %m"/>
            <name>le</name>
            <token/>
        </Logentries>
		<!--<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
		</Console>-->
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="le" />
        </Root>
    </Loggers>
</Configuration>